/* Oxygenfit HTML Template */

/************ TABLE OF CONTENTS ***************
1.Fonts
2.Reset
**********************************************/

$primaryfont: "Open Sans", sans-serif;

// COlORS
$black: #131313;
$light: #8b8b8b;
$hover: #ff9e31;

body {
  // background: url("../images/bg.png") no-repeat;
  color: #000;
  background-size: contain;
  background-position: top;
  background-color: black;
  background-attachment: fixed;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: $primaryfont;
  font-size: 14px;
  outline: 0;
}

p {
  margin-bottom: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

a {
  color: $black;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    // color: $hover;
    text-decoration: none;
  }
}

// CDN Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

// Importing css
@import url("bootstrap.min.css");

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?1oexdk");
  src: url("fonts/icomoon.eot?1oexdk#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?1oexdk") format("truetype"),
    url("fonts/icomoon.woff?1oexdk") format("woff"),
    url("fonts/icomoon.svg?1oexdk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

.icon-book:before {
  content: "\e91f";
}

.icon-stack:before {
  content: "\e92e";
}

.icon-compass:before {
  content: "\e949";
}

.icon-history:before {
  content: "\e94d";
}

.icon-user-tie:before {
  content: "\e976";
}

.icon-wrench:before {
  content: "\e991";
}

.icon-cog:before {
  content: "\e994";
}

.icon-dribbble:before {
  content: "\eaa7";
}

.icon-behance:before {
  content: "\eaa8";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-stackoverflow:before {
  content: "\ead0";
}

.icon-codepen:before {
  content: "\eae8";
}
